---
nput {
  beats {
    port => 5044
  }
}

filter {
  #add filter in this section
}

output {
  elasticsearch {
    hosts => ["http://172.30.14.251:9200"]
    index => "logstash-%{+YYYY.MM.dd}"
  }
}
